    @model OppositeEnds.Models.User

    @{
        ViewBag.Title = "SignIn";
    }
<div class="bodyContent">
    <div class="container marg ">

        <div class="container-fluid">
            <div class="row hemp">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="picform">
                            <p class="oppositeends"> Sign In</p>
                        </div>
                    </div>
                </div>
                <div class="row hi">
                    <div class="col-sm-12 col-md-6 @*col-md-6*@">
                        <div class="signindesign">
                            <span><font color="red">@Html.ValidationMessage("Error")</font></span>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div>
                                    <div class="form-group SignForm">
                                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control " } })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>


                                <div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-0 col-md-12">
                                        <input id="SignIn" type="submit" value="Sign In" class="btn btn-default" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 picforsignin fullbgimg ">

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="manage">
                    <div class="manage col-sm-12 col-md-12 pad">
                        <img src="~/Content/Images/imagesforfrontend/antiques.jpg" style="height:35px; width:100px;"/>
                        </div>
                </div>
            </div>

        </div>

    </div>
    </div>
 