@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    {
        @Html.AntiForgeryToken()


        <ul class="nav navbar-nav navbar-right">
            <li class="pull-right">@Html.ActionLink("Sign Out", "Logout", "Users") </li>
            <li class="pull-right">@Html.ActionLink(HttpContext.Current.User.Identity.GetUserName(), "Home")</li>
        </ul>
    }
}
else
{

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Florals", "FloralFront", "Florals")</li>
        <li>@Html.ActionLink("Furniture", "Index", "FurnitureFront")</li>
        <li>@Html.ActionLink("Vintage", "VintageIndex", "Home")</li>
        <li>@Html.ActionLink("SignIn", "SignIn", "Users")</li>
        <li>@Html.ActionLink("Cart", "CartIndex", "ShoppingCart")</li>
    </ul>

}

