@model PagedList.IPagedList<OppositeEnds.Models.Furniture>
@using PagedList.Mvc;
@*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>*@
@{
    ViewBag.Title = "Furnitures";
}

<div class="Florals1">
<h1 id="TitleFlo" style="text-align:center">Welcome to our Furniture Section</h1>
    

    <div class="searchOption1">
    @using (Html.BeginForm("Index", "FurnitureFront", FormMethod.Get))
    {
        <p>
            Find by category: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
        </div>
    <div class="searchOption">
    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })

    @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter })
        </div>

<div class="Florals2">
    <div class="row Break">
        <div class="col-md-3 col-xs-12">


            <div class="panel panel-default cat">
                <div class="panel-heading">Furnitures</div>
                <div class="panel-body">
                    Dining
                </div>
                <div class="panel-body">
                    Living
                </div>
                <div class="panel-body">
                    Bed
                </div>
                <div class="panel-body">
                    Sofas
                </div>
            </div>
        </div>
        @foreach (var furnitures in Model)
            {
            <div class="col-xs-12 col-md-3">
                <div class="thumbnail">
                    <a href="@Url.Action("productdetails","FurnitureFront",new {id= furnitures.FurnitureId})">

                        <img class="img-responsive See" src="~/Content/images/Furnitures/@(furnitures.Picture).jpg" width="200">

                    </a>
                    <div class="caption text-center">
                        <p>
                            <b>Name:</b> <span> @furnitures.Name</span>
                        </p>
                        <p>
                            <b>Price:</b> <span>@furnitures.Price USD</span>
                        </p>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
    <div class="pageNum">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
   new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>



