@model PagedList.IPagedList<OppositeEnds.Models.Furniture>
@using PagedList.Mvc;
@*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>*@
@{
    ViewBag.Title = "Furnitures";
}
<div class="bodyContentFlorals">
<div class="Florals1">
<h1 id="TitleFlo" style="text-align:center">Welcome to our Furniture Section</h1>
    

    <div class="searchOption1">
    @using (Html.BeginForm("Index", "FurnitureFront", FormMethod.Get))
    {
        <div class="SeachLabel">
          <label class="control-label"> Search By Name:  @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)</label>

            <input type="submit" value="Search" class="btn btn-primary"/>
        
        </div>
    }
        @*</div>
    <div class="searchOption">
    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })

    @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter })
        </div>*@

<div class="Searched"><p>@ViewBag.Message <span class="SearchedFor">@ViewBag.Search</span></p></div>

</div>
<div class="Florals2">
    <div class="row Break">
        <div class="col-md-3 col-xs-12">


            <div class="panel panel-default cat">
                <div class="panel-heading">Furnitures</div>
                <div class="panel-Category">
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", new { searchCategory = "Home", currentFilter = ViewBag.CurrentFilter })</li>
                    </ul>
                </div>
                <div class="panel-Category">
                    <ul>
                        <li>@Html.ActionLink("Dining", "Index", new { searchCategory = "Dining", currentFilter = ViewBag.CurrentFilter })</li>
                    </ul>
                </div>
                <div class="panel-Category">
                    <ul>
                        <li>@Html.ActionLink("Bed", "Index", new { searchCategory = "Bed", currentFilter = ViewBag.CurrentFilter })</li>
                    </ul>
                </div>
                <div class="panel-Category">
                    <ul>
                        <li>@Html.ActionLink("Sofas", "Index", new { searchCategory = "Sofas", currentFilter = ViewBag.CurrentFilter })</li>
                    </ul>
                </div>
            </div>
        </div>
        @foreach (var furnitures in Model)
            {
            <div class="col-xs-12 col-md-3">
                <div class="thumbnail">
                    <a href="@Url.Action("productdetails","FurnitureFront",new {id= furnitures.FurnitureId})">

                        <img class="img-responsive See" src="~/Content/images/Furnitures/@(furnitures.Picture).jpg" width="200">

                    </a>
                    <div class="caption text-center">
                        <p>
                            <b>Name:</b> <span> @furnitures.Name</span>
                        </p>
                        <p>
                            <b>Price:</b> <span>@furnitures.Price USD</span>
                        </p>
                        <p>
                            @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = furnitures.FurnitureId, type = "floral" }, null)
                        </p>
                   

                    </div>
                </div>
            </div>
        }
    </div>
</div>
    </div>
    <div class="pageNum">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount </div>
    @Html.PagedListPager(Model, page => Url.Action("Index",
   new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
    



