@model OppositeEnds.Models.Floral
@{
    ViewBag.Title = "productdetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ProductBody">
    <button class="btn btn-lg bg-primary Back" onclick="location.href='@Url.Action("Index", "Florals")'; return false;"><span class="fa fa-arrow-left">  Back</span></button>

    <div class="ProductContent">
        <div class="row">

            <div class="col-md-offset-1 col-md-3">
                <div class="well second">

                    <img class="img-responsive productItem" src="~/Content/images/florals/@(Model.Picture).jpg" width="250">
                </div>

            </div>

            <div class="col-md-7">
                <div class="well first">
                    <h1>Name : @Model.Name</h1>
                    <h1>
                        Category : @Model.Category
                    </h1>
                    <h1>Price : $ @Model.Price </h1>

                    <div class="row Goup">
                        <div class="col-sm-2"><h1>Details : </h1></div> <div class="col-sm-6 Cat">@Model.Details</div>
                    </div>
                    @*<div class="row Goup">
                <div class="col-sm-4"><h1>Details : </h1></div> <div class="col-sm-6 Cat"><h1>Here will be some information about the current item </h1></div>
            </div>*@

                    @*@Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypal", "Paypal", new { amt = "13.05" }, null)*@
                    <div class="btnBox">
                        <btn class="btn btn-primary btn-lg Cart2">
                            <span class="glyphicon glyphicon-shopping-cart"></span> @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.FloralId, type = "floral" }, null)

                            </btn>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

